{% extends 'base.html' %}

{% block content %}

<div class="row boxed " >

<h1>Question {{ current_index |add:1 }}</h1>
<hr />
<form action="" method="post" class="form-check">
    {% csrf_token %}
    <h3>{{ question.question_text }}</h3>
    <p class="radio" style="margin-left: 60px;">
        <input style="width: 15px; height:20px;" type="radio" name="answer" value="{{ question.choice_1 }}" />{{ question.choice_1 }} <br />
        <input style="width: 15px; height:20px;" type="radio" name="answer" value="{{ question.choice_2 }}" />{{ question.choice_2 }} <br />
        <input style="width: 15px; height:20px;" type="radio" name="answer" value="{{ question.choice_3 }}" />{{ question.choice_3 }} <br />
        <input style="width: 15px; height:20px;" type="radio" name="answer" value="{{ question.choice_4 }}" />{{ question.choice_4 }} <br />
    </p>
    <button type="submit" class=" btn btn-primary" style="margin-left:200px;">Submit</button>
</form>
</div>
{% endblock %}
