{% extends 'base.html' %}

{% block content %}

<div class="page-header text-center">

<h1>Add New Question</h1>
<hr />
<div class="row boxed signup-page" >
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg" style="float: right;">Add</button>
</form>
</div>
</div>
{% endblock %}