{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center">
<img src="/media/test.svg" alt="Mountain View" width="500" height="350">

</div>
{% endblock %}
{% block javascript %}
<script>
    $(()=>{

        $('#back').removeClass('hidden');
        $('#back').attr("href", "/recruitments/list/");

    });

</script>
{% endblock %}