{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center">

<h1>Test Completed</h1>
<hr />
<table style="margin-left:400px">
    <tr>
        <td class="text-left">Your score</td>
        <td>: {{ recruitment_attempt.score }}</td>
    </tr>
    <tr>
        <td class="text-left">Correct answers</td>
        <td>: {{ recruitment_attempt.correct_count }}</td>
    </tr>

    <tr>
        <td class="text-left">Incorrect answers</td>
        <td>: {{ recruitment_attempt.incorrect_count }}</td>
    </tr>
</table>
</div>
{% endblock %}