{% extends 'base.html' %}

{% block content %}
<div class="page-header text-center">


<div class="row boxed " style="padding: 20px; margin-left: 100px; margin-right: 100px;" >
<h1>All Questions</h1>
<hr />

{% for question in qstn_list %}
    <div class="container" style="padding: 20px; margin-left: 100px; font-size: 20px;">
<p class="text-left"><b>Question : </b>{{ question.question_text }}</p>
    <br>
    <p class="text-left"><b>Subject: </b>{{ question.subject }}</p>
    <br>
    <p class="text-left"><b>Options :</b></p>
    <ul class="text-left" style="padding-left: 25px;">

    <li>{{ question.choice_1 }}</li>
    <li>{{ question.choice_2 }}</li>
    <li>{{ question.choice_3 }}</li>
    <li>{{ question.choice_4 }}</li>
</ul>
    <br>
<p class="text-left"><b>Correct Answer: </b>{{ question.correct_answer }}</p>


        </div>
    <hr />
{% endfor %}
    <hr />
    <span class="login-link"><a href="{% url 'recruitments:create_question' %}">Add New Question</a></span>
</div>
</div>
{% endblock %}