{% extends 'base.html' %}

{% block content %}
<div class="page-header text-center">
<div class="row boxed " style="padding: 20px; margin-left: 100px; margin-right: 100px;" >
<h1>All Recruitments</h1>
<hr />
    <div style="margin-left:60px; font-size:20px">
        <ul>
{% for recruitment in recruitments %}
            <li>
{% if message %}
                <p> {{ message }} </p>
                {% endif %}
<h1 class="text-left" style="margin-top:60px;">{{ recruitment.name }}</h1>
<div style="margin-left:40px; font-size:20px">
<p class="text-left">{{ recruitment.description }}</p>
<p class="text-left">Last Date: {{ recruitment.expires_on }}</p>
<p class="text-left">
    Correct answer score: {{ recruitment.correct_answer_score }}
    <br />
    Incorrect answer score: {{ recruitment.incorrect_answer_score }}
</p>

    </div>
                </li>
        <br><br>
        {% if user.is_staff %}
            <div style="margin-left:20px;">
            <p class="text-left"><a href="{% url 'recruitments:results' %}?id={{ recruitment.id }}" style="color:#ea8019e6"><b>View Results</b></a></p>
        <p class="text-left"><a href="{% url 'recruitments:analyse' %}?id={{ recruitment.id }}" style="color:#ea8019e6"><b>Analyse Results</b></a></p>
        </div>
            {% else %}
            <div style="margin-left:20px;">
{% if recruitment in rec_attempt %}
        <p class="text-left"><a href="{% url 'recruitments:result' %}?id={{ recruitment.id }}" style="color:#ea8019e6"><b>view result</b></a></p>
{% else %}
        <p class="text-left"><a href="{% url 'recruitments:start_test' %}?id={{ recruitment.id }}" style="color:#ea8019e6"><b>Attempt Test</b></a></p>
{% endif %}
        <hr>
            </div>
{% endif%}
<hr/>
{% empty %}
<h6>No recruitments Added Yet</h6>


{% endfor %}
    </ul>
        </div>
</div>
</div>
{% endblock %}