{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center">

<h1>Results</h1>
<hr />

<table  class="table table-striped">
    <tr>
        <th class="text-center">Name</th>

        <th class="text-center">score</th>
        <th class="text-center">EQ score</th>
        <th class="text-center">Total score</th>
    </tr>
    {% for attempt in attempts %}
    <tr>
        <td><a href="{% url 'accounts:detail' %}?id={{ attempt.user.id }}" id="myLink">{{ attempt.user.get_full_name }}</a></td>

        <td>{{ attempt.score }}</td>
        <td>{{ attempt.eq_score }}</td>
        <td>{{ attempt.total_score }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(()=>{

        $('#back').removeClass('hidden');
        $('#back').attr("href", "/recruitments/list/");

    });

</script>
{% endblock %}