{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center">
<h3> To Analyse Test Results , Atleast 3 students should attempt the test  </h3>

</div>
{% endblock %}
{% block javascript %}
<script>
    $(()=>{

        $('#back').removeClass('hidden');
        $('#back').attr("href", "/recruitments/list/");

    });

</script>
{% endblock %}