{% extends 'base.html' %}

{% block content %}
                                    
<div class="col-md-12" style="margin-top: 50px;">
 
{% if user.is_staff %}
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<a href="{% url 'recruitments:create_recruitment' %}">
				<div class="market-update-block clr-block-1">
					<div class="col-md-7 market-update-left">
						<h3>Add</h3>
						<h4>Recruitments</h4>
											</div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-file-text-o"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
				</a>
			</div>
			<div class="col-md-3 market-update-gd">
				<a href="{% url 'recruitments:create_question' %}">
				<div class="market-update-block clr-block-1">
				 <div class="col-md-7 market-update-left">
					<h3>Add</h3>
					<h4>Question</h4>
				  </div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-question"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</a>
			</div>
			<div class="col-md-3 market-update-gd">
				<a href="{% url 'recruitments:recruitment_list' %}"> 
				<div class="market-update-block clr-block-1">
					<div class="col-md-7 market-update-left">
						<h3>List</h3>
						<h4>Recruitments</h4>
					</div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-list"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</a>
			</div>
			<div class="col-md-3 market-update-gd">
				<a href="{% url 'recruitments:question_list' %}">
				<div class="market-update-block clr-block-1">
					<div class="col-md-7 market-update-left">
						<h3>List</h3>
						<h4>Question</h4>
					</div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-list-alt"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</a>
			</div>
		   <div class="clearfix"> </div>
		</div>

{% else %}
<div class="col-md-3 market-update-gd">
				<a href="{% url 'recruitments:recruitment_list' %}">
				<div class="market-update-block clr-block-1">
					<div class="col-md-7 market-update-left">
						<h3>List</h3>
						<h4>Recruitments</h4>
					</div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-bar-chart"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</a>

			</div>
	<div class="col-md-3 market-update-gd">
	<a href="{% url 'accounts:detail' %}?id={{ user.id }}">
				<div class="market-update-block clr-block-1">
					<div class="col-md-7 market-update-left">
						<h3>My</h3>
						<h4>Account</h4>
					</div>
					<div class="col-md-5 market-update-right">
						<i class="fa fa-user"> </i>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</a>
	</div>

{% endif %}
</div>
{% endblock%}