<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ynot</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light bg-light align-items-center" style="background-color: #ea8019e6;">
  <a class="navbar-brand " href="#">
    <p style="padding: 20px;"> YNOT</p>
  </a>
</nav>
{% block content %}
{% endblock %}

<div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block javascript %}
{% endblock %}
{% include 'script.html'%}

</body>
</html>